<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EndData</key>
	<data>koSEhAxOU0RpY3Rpb25hcnkAlYQBaQGShJiYHV9fa0lNTWVzc2FnZVBhcnRBdHRyaWJ1dGVOYW1lhpKEhIQITlNOdW1iZXIAhIQHTlNWYWx1ZQCVhAEqhJubAIaGhg==</data>
	<key>FirstData</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhBlOU011dGFibGVBdHRyaWJ1dGVkU3RyaW5nAISEEk5TQXR0cmlidXRlZFN0cmluZwCEhAhOU09iamVjdACFkoSEhA9OU011dGFibGVTdHJpbmcBhIQITlNTdHJpbmcBlYQBKw==</data>
	<key>NoteData1</key>
	<data>GhAKBAgAEAAQABoECAAQAA==</data>
	<key>NoteData2</key>
	<data>CgQIARAAEA==</data>
	<key>NoteData3</key>
	<data>GgQIARAB</data>
	<key>NoteData4</key>
	<data>FgoICAAQ/////w8QABoICAAQ/////w8i</data>
	<key>NoteData5</key>
	<data>EPbqcCaO+EDCqZqpbs1zMeY=</data>
	<key>NoteData6</key>
	<data>EgIIASo=</data>
	<key>middleData</key>
	<data>hoQCaUkB</data>
	<key>MessageAttriFirstData</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhBlOU011dGFibGVBdHRyaWJ1dGVkU3RyaW5nAISEEk5TQXR0cmlidXRlZFN0cmluZwCEhAhOU09iamVjdACFkoSEhA9OU011dGFibGVTdHJpbmcBhIQITlNTdHJpbmcBlYQBKwPvv7yGhAJpSQEBkoSEhAxOU0RpY3Rpb25hcnkAlYQBaQKShJiYIl9fa0lNRmlsZVRyYW5zZmVyR1VJREF0dHJpYnV0ZU5hbWWGkoSYmCQ=</data>
	<key>MessageAttriEndData</key>
	<data>hpKEmJgdX19rSU1NZXNzYWdlUGFydEF0dHJpYnV0ZU5hbWWGkoSEhAhOU051bWJlcgCEhAdOU1ZhbHVlAJWEASqEm5sAhoaG</data>
</dict>
</plist>
