<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainView_bgColor</key>
	<string>255,255,255,1</string>
	<key>mainView_bgColor_top</key>
	<string>255,255,255,1</string>
	<key>mainView_bgColor_middle</key>
	<string>255,255,255,1</string>
	<key>mainView_bgColor_down</key>
	<string>255,255,255,1</string>
	<key>line_windowColor</key>
	<string>253,228,238,1</string>
	<key>text_normalColor</key>
	<string>97,97,97,1</string>
	<key>progress_animation_Color</key>
	<string>248,146,186,1</string>
	<key>text_explainColor</key>
	<string>147,147,147,1</string>
	<key>hoverBtn_normal_bgColor</key>
	<string>255,255,255,1</string>
	<key>hoverBtn_normal_borderColor</key>
	<string>253,228,238,1</string>
	<key>hoverBtn_enter_bgColor</key>
	<string>253,228,238,1</string>
	<key>hoverBtn_down_bgColor</key>
	<string>253,217,231,1</string>
	<key>animation_circleColor</key>
	<string>247,129,174,1</string>
	<key>tableView_evenBgColor</key>
	<string>255,255,255,1</string>
	<key>tableView_oddBgColor</key>
	<string>245,245,245,1</string>
	<key>tableView_select_FocusColor</key>
	<string>247,129,174,1</string>
	<key>tableView_select_LoseFocusColor</key>
	<string>229,229,229,1</string>
	<key>tableView_row_noselected_bg</key>
	<string>181,214,244,1</string>
	<key>text_numberColor</key>
	<string>255,2555,255,1</string>
	<key>tableView_drag_bgColor</key>
	<string>247,129,174,1</string>
	<key>text_disableColor</key>
	<string>189,189,189,1</string>
	<key>text_shopCar_buyColor</key>
	<string>255,255,255,1</string>
	<key>popover_bgColor</key>
	<string>255,255,255,1</string>
	<key>popover_borderColor</key>
	<string>255,211,228,1</string>
	<key>popover_shadowColor</key>
	<string>255,211,228,1</string>
	<key>playlist_bgColor</key>
	<string>252,247,249,1</string>
	<key>nodata_linkeTitle_color</key>
	<string>247,129,174,1</string>
	<key>nodata_nolinkeTitle_color</key>
	<string>147,147,147,1</string>
	<key>generalBtn_enterColor</key>
	<string>255,255,255,1</string>
	<key>generalBtn_exitColor</key>
	<string>255,255,255,1</string>
	<key>generalBtn_other_exitColor</key>
	<string>97,97,97,1</string>
	<key>generalBtn_downColor</key>
	<string>255,255,255,1</string>
	<key>text_warningColor</key>
	<string>247,129,174,1</string>
	<key>lineAlertColor_InputTextBoderColor</key>
	<string>251,189,213,1</string>
	<key>DeviceMain_sixBtnDown_BgColor</key>
	<string>0,0,0,0.2</string>
	<key>functionBtn_enter_bgColor</key>
	<string>0,0,0,0.2</string>
	<key>functionBtn_down_bgColor</key>
	<string>0,0,0,0.3</string>
	<key>functionBtn_badgeCount_bgColor</key>
	<string>247,129,174,1</string>
	<key>functionBtn_badgeCount_borderColor</key>
	<string>255,255,255,1</string>
	<key>tableView_highLightBtn_borderColor</key>
	<string>255,2255,255,1</string>
	<key>tableView_highLightBtn_enter_bgColor</key>
	<string>249,159,192,1</string>
	<key>tableView_highLightBtn_down_bgColor</key>
	<string>248,145,183,1</string>
	<key>text_deleteColor</key>
	<string>247,129,174,1</string>
	<key>addplaylistBtn_title_normalColor</key>
	<string>147,147,147,1</string>
	<key>addplaylistBtn_title_downColor</key>
	<string>233,85,144,1</string>
	<key>addplaylistBtn_title_enterColor</key>
	<string>247,129,174,1</string>
	<key>alert_bgColor</key>
	<string>255,255,255,1</string>
	<key>alert_inside_bgColor</key>
	<string>253,251,252,1</string>
	<key>alert_shawdowColor</key>
	<string>145,145,145,1</string>
	<key>refreshView_bgColor</key>
	<string>100,100,100,0.8</string>
	<key>text_click_downColor</key>
	<string>233,85,144,1</string>
	<key>text_click_enterColor</key>
	<string>255,163,198,1</string>
	<key>explorer_selection_color</key>
	<string>254,242,247,1</string>
	<key>message_send_Message_bgColor</key>
	<string>106,218,65,1</string>
	<key>message_send_iMessage_bgColor</key>
	<string>109,192,245,1</string>
	<key>message_receive_bgColor</key>
	<string>236,236,236,1</string>
	<key>text_message_sendColor</key>
	<string>255,255,255,1</string>
	<key>text_message_receiveColor</key>
	<string>0,0,0,1</string>
	<key>icloud_download_progress_color</key>
	<string>252,170,203,1</string>
	<key>progress_bgColor</key>
	<string>204,204,204,1</string>
	<key>annoy_view_drawarc_buttom_color</key>
	<string>224,227,229,1</string>
	<key>annoy_view_drawarc_top_color</key>
	<string>247,129,174,1</string>
	<key>mergeBtn_upColor</key>
	<string>191,160,235,1</string>
	<key>mergeBtn_downColor</key>
	<string>161,143,255,1</string>
	<key>toMac_upColor</key>
	<string>238,217,145,1</string>
	<key>toMac_downColor</key>
	<string>237,205,135,1</string>
	<key>toiTunes_upColor</key>
	<string>254,173,183,1</string>
	<key>toiTunes_downColor</key>
	<string>252,127,182,1</string>
	<key>toDevice_upColor</key>
	<string>249,182,237,1</string>
	<key>toDevice_downColor</key>
	<string>235,107,254,1</string>
	<key>addBtn_upColor</key>
	<string>91,182,255,1</string>
	<key>addBtn_downColor</key>
	<string>85,131,255,1</string>
	<key>cloneBtn_upColor</key>
	<string>120,234,235,1</string>
	<key>cloneBtn_downColor</key>
	<string>92,228,189,1</string>
	<key>fastDriveBtn_upColor</key>
	<string>186,223,147,1</string>
	<key>fastDriveBtn_downColor</key>
	<string>132,213,97,1</string>
	<key>deviceItemView_enter_bgColor</key>
	<string>253,230,239,1</string>
	<key>deviceItemView_down_bgColor</key>
	<string>253,217,231,1</string>
	<key>listcollection_changBtn_downColor</key>
	<string>253,228,238,1</string>
	<key>listcollection_changBtn_downBorderColor</key>
	<string>253,228,238,1</string>
	<key>remainCount</key>
	<string>255,0,0,1</string>
	<key>remainDay</key>
	<string>51,51,51,1</string>
	<key>category_enterColor</key>
	<string>253,228,238,1</string>
	<key>category_downColor</key>
	<string>253,217,231,1</string>
	<key>skin_newSpot</key>
	<string>247,129,174,1</string>
	<key>fastdrive_progress_bgColor</key>
	<string>253,233,243,1</string>
	<key>fastdrive_progress_color</key>
	<string>251,176,205,1</string>
	<key>fastdrive_progress_strokeColor</key>
	<string>255,211,228,1</string>
	<key>download_normal_leftcolor</key>
	<string>252,196,217,1</string>
	<key>download_down_leftcolor</key>
	<string>246,169,198,1</string>
	<key>download_enter_leftcolor</key>
	<string>253,210,226,1</string>
	<key>download_normal_rightcolor</key>
	<string>252,155,194,1</string>
	<key>download_down_rightcolor</key>
	<string>245,135,179,1</string>
	<key>download_enter_rightcolor</key>
	<string>255,175,207,1</string>
	<key>download_circle_bgColor</key>
	<string>253,228,238,1</string>
	<key>download_progres_leftFillColor</key>
	<string>245,135,179,1</string>
	<key>download_progres_rightFillColor</key>
	<string>252,196,217,1</string>
	<key>download_transferFail_tipColor</key>
	<string>223,22,22,1</string>
	<key>download_detail_enterbg</key>
	<string>252,226,238,1</string>
	<key>download_detail_downbg</key>
	<string>251,210,229,1</string>
	<key>general_normal_upFillColor</key>
	<string>252,196,217,1</string>
	<key>general_normal_downFillColor</key>
	<string>252,155,194,1</string>
	<key>general_enter_upFillColor</key>
	<string>253,210,226,1</string>
	<key>general_enter_downFillColor</key>
	<string>255,175,207,1</string>
	<key>general_down_upFillColor</key>
	<string>246,169,198,1</string>
	<key>general_down_downFillColor</key>
	<string>245,135,179,1</string>
	<key>general_border_color</key>
	<string>252,205,223,1</string>
	<key>download_org_enter_leftColor</key>
	<string>255,202,118,1</string>
	<key>download_org_enter_rightColor</key>
	<string>255,184,72,1</string>
	<key>download_org_normal_leftColor</key>
	<string>255,192,93,1</string>
	<key>download_org_normal_rightColor</key>
	<string>255,176,52,1</string>
	<key>download_org_down_leftColor</key>
	<string>255,190,86,1</string>
	<key>download_org_down_rightColor</key>
	<string>255,174,47,1</string>
</dict>
</plist>
